
<div class="container">
    <textarea name="dataInput" class="form-control" [formControl]="favoriteColorControl" id="" cols="200" rows="10"></textarea>
    <button type="button" class="btn btn-primary" (click)="parse()">Show data</button>

    <div class="row">
        <div class="col">
            <app-procedure *ngFor="let procedure of procedures" [procedure]="procedure"></app-procedure>
        </div>
        <div class="col">
            <app-leg-editor></app-leg-editor>
        </div>
    </div>
</div>